* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

